/*
*
Pets styles.css
*
*/
.gridList {
  display: grid;
  grid-template-columns: repeat(4, 300px);
  grid-template-areas: 'tile tile tile tile';
  justify-content: center;
  grid-gap: 8px;
}

.description {
  max-width: 300ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media screen and (max-width: 1200px) {
  .gridList {
    grid-template-columns: repeat(2, 300px);
    grid-template-areas: 'tile tile';
  }
}

@media screen and (max-width: 600px) {
  .gridList {
    grid-template-columns: 300px;
    grid-template-areas: 'tile';
  }
}