/*
*
Home styles.css
*
*/

html {
  background: url('C:/Development/dogventures/src/Home/images/hikerDog.jpg') no-repeat center right fixed;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}