/*
*
Home styles.css
*
*/

.homeContainer {
  background: url('./images/hikerDog.jpg') no-repeat center right fixed;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.headlineContainer {
  width: 60%;
}

.buttonContainer {
  position: relative;
  margin: 50px 0px 0px 8px;
}

.headline {
  width: 100%;
  color: white;
  text-shadow: rgba(0, 0, 0, 0.6) 0px 1px 4px;
  line-height: 125%;
  font-size: 56px;
  font-weight: 500;
  margin: 0px 0px 0px 8px;
}

.textboxContainer {
  position: relative;
  margin: 50px 0px 0px 8px;
}

@media screen and (max-width: 600px) {
  .buttonContainer {
    display: flex;
    justify-content: center;
  }
  
  .headlineContainer {
    width: 100%;
  }
  
  .headline {
    margin: 0px;
  }

  .textboxContainer {
    display: flex;
    justify-content: center;
  }
}