/*
*
Home styles.css
*
*/

html {
  background: url('./images/hikerDog.jpg') no-repeat center right fixed;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.homeContainer {
  margin: 2%;
}

.headline {
  width: 60%;
  color: white;
  text-shadow: rgba(0, 0, 0, 0.6) 0px 1px 4px;
  line-height: 125%;
  font-size: 4vw;
  font-weight: 500;
}

.textboxContainer {
  position: relative;
  margin-top: 50px;
}